<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <title>Hospital Compendium</title>
  </head>
  <body>
      <nav class="navbar sticky-top navbar-dark bg-primary" style = "#003f87">
          <a class="navbar-brand" href="index.html"><h1>Hospital Compendium</h1></a>
              </nav>
              <center><h1>"{{a.1}}"</h1></center>
                    <center>
                      Ratings: "{{ a.7}}"/5
                    <div><a href="#">
                      <span class="fa fa-map-marker">"{{ a.3 }}"</span>
                    </a></div>
                    <div><a href="#">
                            <span class="fa fa-phone">"{{ a.4 }}"</span>
                          </a></div>
                    <div><a href="#">
                      <span class="fa fa-link">{{Website}}</span>
                    </a></div></center>
                    <div class="container">
                <h2>General</h2>
                    <b>Hospital Type: </b> {{a.5}} <br>
                    <b>Emergency Services: </b> {{a.6}} <br>
                    <b>Mortality National Comparison: </b> {{ a.9 }} <br>
                    <b>Safety of care national comparison: </b> {{ a.10 }} <br>
                    <b>Readmission national comparison: </b> {{ a.11 }}<br>
                    <b>Patient experience national comparison: </b> {{ a. 12}} <br>
                    <b>Effectiveness of care national comparison: </b> {{ a.13 }} <br>
                    <b>Timeliness of care national comparison: </b> {{ a.14 }} <br>
                    <b>Efficient use of medical imaging national comparison: </b> {{ a.15 }}

                <h2>Patient Satisfaction Ratings (Out of 5)</h2>
                    <b>Summary: </b> {{a.16}} <br>
                    <b>Cleanliness: </b> {{a.17}}<br>
                    <b>Nurse communication: </b> {{a.18}}<br>
                    <b>Doctor communication: </b>{{a.19}}<br>
                    <b>Staff responsiveness: </b> {{a.20}} <br>
                    <b>Communication about medicines: </b> {{ a.21 }} <br>
                    <b>Discharge information: </b> {{a.22}<br>
                    <b>Care transfer: </b>{{a.23}} <br>
                    <b>Quietness: </b> {{a.25}}<br>
                    <b>Recommend hospital: </b>{{a.24}}<br>
                    <b>Overall hospital: </b>{{a.26}}<br>
                <h2>Complications and Deaths</h2>
                        <b>Rate of complications for hip/knee replacement patients: </b> {{a.27}}<br>
                        <b>Death rate for heart attack patients: </b> {{a.28}}<br>
                        <b>Death rate for CABG surgery patients: </b> {{a.29}}<br>
                        <b>Death rate for chronic obstructive pulmonary disease (COPD) patients: </b> {{a.30}}<br>
                        <b>Death rate for heart failure patients: </b> {{a.31}}<br>
                        <b>Death rate for pneumonia patients: </b> {{a.32}}<br>
                        <b>Death rate for stroke patients: </b> {{a.33}}<br>
                        <b>Postoperative Acute Kidney Injury Requiring Dialysis Rate: </b>{{a.34}}<br>
                        <b>Postoperative Respiratory Failure Rate: </b>{{a.35}}<br>
                        <b>Serious blood clots after surgery: </b> {{a.36}}<br>
                        <b>Blood stream infection after surgery: </b>{{a.37}}<br>
                        <b>A wound that splits open  after surgery on the abdomen or pelvis: </b>{{a.40}}<br>
                        <b>Accidental cuts and tears from medical treatment: </b>{{a.41}}<br>
                        <b>Pressure sores: </b>{{a.42}}<br>
                        <b>Deaths among Patients with Serious Treatable Complications after Surgery: </b>{{a.43}}<br>
                        <b>Collapsed lung due to medical treatment: </b> {{a.44}}<br>
                        <b>Broken hip from a fall after surgery: </b>{{a.45}}<br>
                        <b>Perioperative Hemorrhage or Hematoma Rate: </b>{{a.46}}<br>
                        <b>Serious complications: </b> {{a.47}}<br>
                <h2>Payment and Value of Care:</h2>
                    <b>Payment of Care Heart Attack range: </b> {{a.108}} -- {{a.104}}<br>
                    <b>Payment of Care Heart Failure range: </b> {{a.109}} -- {{a.105}}<br>
                    <b>Payment of Care hip/knee replacement range: </b> {{a.110}} -- {{a.106}}<br>
                    <b>Payment of Care Pneumonia range: </b> {{a.111}} -- {{a.107}} <br>
                    <b>Value of Care Heart Attack: </b> {{a.112}}<br>
                    <b>Value of Care Heart Failure: </b> {{a.113}}<br>
                    <b>Value of Care hip/knee replacement: </b>{{a.114}}<br>
                    <b>Value of Care Pneumonia: </b>{{a.115}}<br>
                            
            </div>
    </body>
</html>